@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}


<!--====banner section start====-->
<section class="about_banner_wrapper">
    <div class="container">
        <h1 class="hero_title">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</section>
<!--====banner section end====-->
<!--====passion section start====-->
<section class="passion_wrapper">
    <div class="container">
        <div class="row passion_row d-flex align-items-center">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="left_col text-center text-lg-start">
                    <img src="~/images/about/illustration.png" alt="Love and Passion">
                </div>
            </div>
            <div class="col-lg-6 order-first order-lg-last">
                <div class="right_col">
                    <h4 class="secondary">A Few Words About Us</h4>
                    <h1 class="section_title">Love and Passion for the Game</h1>
                    <p class="para">Spovest is an investment platform that allows fans and investors all over the world to own shares of unique ~ in sports.Buy and Sell Your Favorite Players On The World's First Sports Stock Market.</p>
                    <p class="para">
                        A new type of fantasy football league where you create your
                        ultimate portfolio and watch your portfolio grow. Buy shares from as many players.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====passion section end====-->

<!--====team section start====-->
<section class="team_wrapper">
    <div class="container">
        <div class="title_wrapper text-center">
            <h4>Meet the</h4>
            <h1 class="section_title">Spovest Team</h1>
        </div>
        <div class="row team_row d-flex align-items-center">
            <div class="col-md-6 col-lg-3 members_info">
                <div class="inner text-center">
                    <div class="outline_hex d-flex align-items-center justify-content-center mx-auto">
                        <div class="inline_hex d-flex align-items-center justify-content-center">
                            <img src="~/images/about/team_1.png" alt="Team One">
                        </div>
                    </div>
                    <h4>
                        <a href="#">Elijah Ryan</a>
                    </h4>
                    <p>Co Founder</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 members_info">
                <div class="inner text-center">
                    <div class="outline_hex d-flex align-items-center justify-content-center mx-auto">
                        <div class="inline_hex d-flex align-items-center justify-content-center">
                            <img src="~/images/about/team_2.png" alt="Team Two">
                        </div>
                    </div>
                    <h4>
                        <a href="#">Sammey Kelley</a>
                    </h4>
                    <p>Co Founder</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 members_info">
                <div class="inner text-center">
                    <div class="outline_hex d-flex align-items-center justify-content-center mx-auto">
                        <div class="inline_hex d-flex align-items-center justify-content-center">
                            <img src="~/images/about/team_3.png" alt="Team Three">
                        </div>
                    </div>
                    <h4>
                        <a href="#">Bobby Smith</a>
                    </h4>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 members_info">
                <div class="inner text-center">
                    <div class="outline_hex d-flex align-items-center justify-content-center mx-auto">
                        <div class="inline_hex d-flex align-items-center justify-content-center">
                            <img src="~/images/about/team_4.png" alt="Team Four">
                        </div>
                    </div>
                    <h4>
                        <a href="#">Lillie Bryant</a>
                    </h4>
                    <p>Designer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====team section end====-->
<!--====experience section start====-->
<section>
    <div class="container">
        <div class="experience">
            <div class="experience_content text-center">
                <h1 class="section_title">Experience the future of fantasy sports</h1>
                <p class="section_info">Buy & Sell Shares in Favourite Players</p>
                <a asp-controller="Main" asp-action="Profile" class="btn btn-primary">Start Trading</a>
            </div>
        </div>
    </div>
</section>
<!--====experience section end====-->

<!--====js scripts start====-->
<!--jquery-3.6.0 minified source-->
<script src="~/js/vendor/jquery-3.6.0.min.js"></script>
<!--bootstrap 5 minified bundle js source-->
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>
<!--waypoints-4.0.0 minified js source-->
<script src="~/js/vendor/jquery.waypoints.min.js"></script>
<!--counter up-1.0.0 minified js source-->
<script src="~/js/vendor/jquery.counterup.min.js"></script>
<!--owl carousel-2.3.4 minified js source-->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<!--magnific popup-1.1.0 js source-->
<script src="~/js/vendor/jquery.magnific-popup.min.js"></script>
<!--jquery nice select minified source-->
<script src="~/js/vendor/jquery.nice-select.min.js"></script>
<!--wow-1.1.3 minified js source-->
<script src="~/js/vendor/wow.min.js"></script>
<!--custom js source-->
<script src="~/js/main.js"></script>
<!--====js scripts end====-->