@using Spovest.Models.Home  
@model Spovest.Models.Home.BaseVM
@{  
    ViewData["Title"] = "Contact";  
    Layout = "_Layout";  
}  
<!--====banner section start====-->  
<section class="contact_banner_wrapper bg-dark">  
    <div class="container">  
        <h1 class="hero_title">Contact</h1>  
        <nav aria-label="breadcrumb">  
            <ol class="breadcrumb">  
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>  
                <li class="breadcrumb-item active" aria-current="page">Contact</li>  
            </ol>  
        </nav>  
    </div>  
</section>  
<!--====banner section end====-->  
<!--====contact form section start====-->  
<section class="contact_form_wrapper">  
    <div class="container">  
        <div class="row contact_row d-flex align-items-center">  
            <div class="col-lg-4">  
                <div class="left_side_content">  
                    <h1>Have questions?</h1>  
                    <p class="section_info">Have questions? We have answers!</p>  
                    <div class="read d-flex align-items-center">  
                        <a href="#">Read F.A.Q <i class="fa fa-chevron-right"></i></a>  
                    </div>  
                    <div class="inner_row d-flex align-items-center">  
                        <div class="inner_left">  
                            <img src="~/images/contact/call.png" alt="Call Us">  
                        </div>  
                        <div class="inner_right">  
                            <h4>Call Us</h4>  
                            <p>+1 (987) 664-32-11</p>  
                            <p>+1 (987) 664-32-11</p>  
                        </div>  
                    </div>  
                    <div class="inner_row d-flex align-items-center">  
                        <div class="inner_left">  
                            <img src="~/images/contact/visit.png" alt="Visit Us">  
                        </div>  
                        <div class="inner_right">  
                            <h4>Visit Us</h4>  
                            <p>4293 Euclid Avenue, Los Angeles, CA 90012</p>  
                        </div>  
                    </div>  
                </div>  
            </div>  
            <div class="col-lg-7 offset-lg-1">  
                <div class="right_side_content d-flex justify-content-lg-end">  
                    <div class="form_wrapper">  
                        <h1>We'd love to hear from you</h1>  
                        <form method="post">  
                            <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm mb-4"></div>  
                            <div class="mb-3">  
                                <label for="exampleName5" class="form-label">  
                                    Your Full Name  
                                </label>  
                                <input name="@nameof(Model.FullName)" type="text" class="form-control para" placeholder="Enter Your Full Name" required="">  
                            </div>  
                            <div class="mb-3">  
                                <label for="exampleInputEmail5" class="form-label">  
                                    Your Email  
                                </label>  
                                <input name="@nameof(Model.Email)" type="email" class="form-control para" placeholder="Enter Your Email" required="">  
                            </div>  
                            <div class="mb-3">  
                                <label for="exampleSubject5" class="form-label">  
                                    Subject  
                                </label>  
                                <input name="@nameof(Model.Subject)" type="text" class="form-control para" placeholder="Enter Your Subject" required="">  
                            </div>  
                            <div class="mb-3">  
                                <label for="exampleMessage5" class="form-label">  
                                    Message  
                                </label>  
                                <textarea name="@nameof(Model.Body)" class="form-control para" cols="30" rows="4" placeholder="Enter Your Message" required=""></textarea>  
                            </div>  
                            <button type="submit" class="btn btn-primary">SEND MESSAGE</button>  
                        </form>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</section>  
<!--====contact form section end====-->  
<!--===scroll bottom to top===-->  
<a href="#" class="scrollToTop"><i class="flaticon-up-chevron"></i></a>  
<!--===scroll bottom to top===-->  
<!--====js scripts start====-->  
<!--jquery-3.6.0 minified source-->  
<script src="~/js/vendor/jquery-3.6.0.min.js"></script>  
<!--bootstrap 5 minified bundle js source-->  
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>  
<!--waypoints-4.0.0 minified js source-->  
<script src="~/js/vendor/jquery.waypoints.min.js"></script>  
<!--counter up-1.0.0 minified js source-->  
<script src="~/js/vendor/jquery.counterup.min.js"></script>  
<!--owl carousel-2.3.4 minified js source-->  
<script src="~/js/vendor/owl.carousel.min.js"></script>  
<!--magnific popup-1.1.0 js source-->  
<script src="~/js/vendor/jquery.magnific-popup.min.js"></script>  
<!--jquery nice select minified source-->  
<script src="~/js/vendor/jquery.nice-select.min.js"></script>  
<!--wow-1.1.3 minified js source-->  
<script src="~/js/vendor/wow.min.js"></script>  
<!--custom js source-->  
<script src="~/js/main.js"></script>  
<!--====js scripts end====--> 