<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Elomoas</title>

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/vendor/pages/cards-advance.css" asp-append-version="true">
    <!-- Favicon icon -->
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/images/favicon.png" asp-append-version="true">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

</head>

<body class="color-theme-blue mont-font">

    <div class="preloader"></div>


    <div class="main-wrapper">
        @Html.Partial("HeaderPartial") 
        @Html.Partial("SideBarPartial")
        @RenderBody()
    </div>




    <script src="https://unpkg.com/feather-icons "></script>
    <script>
        feather.replace();
    </script>

    <script>

    </script>
    <script src="~/js/plugin.js"></script>

    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/scripts.js"></script>



</body>

</html>
